body,ul,li.p{
    margin: 0;
    padding: 0%;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    margin-bottom: 100px;
    background-color: #8f8f8f;}

.a1 img{
    width: 60px;
}

a{
    text-decoration: none;
    color: white;

}
.asd{
    border: #1d1e20 solid;
}

h1{
    text-align: center;
    margin-top: 100px;
    color: wheat;
}
.header{
    max-width: 100%;
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    padding: 20px;
    align-items: center;

}

.menu{
    display: flex;

}
.menu li{
    margin-left: 10px;
}
.menu li a{
    display: block;
    padding: 20px;
}
.menu li a:hover{
    background-color: antiquewhite;
    color: #1d1e20;
    transition: 1s all;
    border-radius: 16px;
    border: #1d1e20 solid;
}


.contenedor-sesion{
   
    height: 200px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 100px;
}
.center-container{
background-color: wheat;
margin-left: auto;
margin-right: auto;
width: 400px;
margin-top: 100px;
margin-left: auto;
height: 400px;
border: #1d1e20 solid;
border-radius: 10px;
}

.formm1{
    align-items: center;

    font-size: 20px;
    background-color: wheat;
    margin-bottom:10px ;


padding: 10;
}
.formm2{
    font-size: 20px;
    background-color: wheat;

   
}

.formm3{
    font-size: 20px;
    margin-left: 90px;
    margin-top: 20px;
    background-color: wheat;
    border-radius: 5px;
}
.inicio-nombre{
    color: black;
    margin: 0;
    font-size: 30px;
   margin-bottom: 50px;
  
}
.asd1 img{
    width: 40px;
    border: #1d1e20 ;
}
.asd1{
    
}