body,
html {
  height: 100%;
  background: linear-gradient(to right, #ce9ff2, rgb(236, 205, 205));
  background-size: cover;
}
 
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Balsamiq Sans", cursive;
}

/* estilos de la caja de registro */
.form-box_2 {
  width: 300px;
  height: 400px;
  padding: 40px;
  background: white;
  text-align: center;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0 10px 20px -5px rgb(0 0 0);
}

.form-box_2 {
  width: 300px;
  height: 500px;
  padding: 40px;
  background: white;
  text-align: center;
  border-radius: 20px;
}

.form-title_2 {
  color: #0e0325;
  font-weight: 500;
}
/* estilos inputs*/
.form-box_2 input[type="email"],
.form-box_2 input[type="text"],
.form-box_2 input[type="password"],
.form-box_2 input[type="password"],
.form-box_2 button[type="submit"] {
  position: relative;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.form-box_2 input[type="text"],
.form-box_2 input[type="text"],
.form-box_2 input[type="email"],
.form-box_2 input[type="password"] {
  border: none;
  border-bottom: 3px solid #ce9ff2;
  width: 100%;
  font-size: 1.0625rem;
  padding-left: 0.2rem;
  line-height: 147.6%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  outline: none;
}

.form-box_2 button[type="submit"] {
  border: none;
  background: #ce9ff2;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 40px;
  outline: none;
  color: white;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}
.form-box_2 .avatar_2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 149px;
  left: 620px;
}

.frase {
  width: 500px;
  margin: 40px;
  text-align: center;
}