* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.back {
    min-height: 100vh;
    width: 100%;
  
    background-position: center;
    background-size: cover;
    position: relative;
}

.containerFrom {
    position: absolute;
    
    backgroundImage: 'linear-gradient(rgba(0, 0, 0, 0.314), rgba(0, 0, 0, 0.314)), url(img/Bc.jpg)';
      
  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 12px;
    /* Box shadow generator */
    box-shadow: 5px 9px 96px -7px rgba(0,0,0,0.51);
    -webkit-box-shadow: 5px 9px 96px -7px rgba(0,0,0,0.51);
    -moz-box-shadow: 5px 9px 96px -7px rgba(0,0,0,0.51);

    max-width: 27rem;
    width: 100%;
    padding: 3rem;
}

.containerFrom h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.inputs {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 40px;
}

.inputs input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    border-bottom: 2px solid #aaaaaaaa;
    transition: 1s;   
}

.inputs input:focus {
    border-color: #534b40;
}

.inputs i {
    position: absolute;
    top: 66%;
    transform: translateY(-50%);

}

.inputs i.fa-envelope,
.inputs i.fa-lock {
    left: 0;
    color: #000000;
}

form p {
    margin-top: 1.5rem;
}

form p a {
    text-decoration: none;
    color: #000000;
} 

form p a:hover {
    text-decoration: underline;
}

form p a:active {
    color: rgb(202, 99, 87);
}

.boton{
    background: #000000;
    margin-top: 3rem;
    width: 100%;
    cursor: pointer;
    padding: 12px 0;
    color: #fff;
    border-radius: 10px;
    border: none;
}